.app {
    text-align: center;
  }
  
  .container {
    display: flex;
    margin-top: 20px;
  }
  
  .header {
    background-color: #58a9c7;
    color: #fff;
    padding: 20px;
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .profile {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #741111;
    min-width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-content p {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .dashboard-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .dashboard-box {
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-box a {
    color: #fff;
    text-decoration: none;
  }
  
  .dashboard-box a:hover {
    text-decoration: underline;
  }
  